.fourd-code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}

.fourd-code .tok.fourd-comment {
  color: #535353;
}

/*
.fourd-code .tok.fourd-double_quote_string {
  color: ;
}

.fourd-code .tok.fourd-identifier {
  color: ;
}

.fourd-code .tok.fourd-identifier_global {
  color: ;
}
*/

.fourd-code .tok.fourd-identifier_local {
  color: #0031FF;
}

.fourd-code .tok.fourd-identifier_invoked {
  color: #25006C;
  font-style: italic;
  font-weight: bold;
}

/*
.fourd-code .tok.fourd-new_line {
  color: ;
}

.fourd-code .tok.fourd-number {
  color: ;
}

.fourd-code .tok.fourd-whitespace {
  color: ;
}

.fourd-code .tok.fourd-operator_assignment {
  color: ;
}

.fourd-code .tok.fourd-operator_compare {
  color: ;
}

.fourd-code .tok.fourd-operator_logic {
  color: ;
}

.fourd-code .tok.fourd-operator_arithmatic {
  color: ;
}

.fourd-code .tok.fourd-separator {
  color: ;
}
*/

.fourd-code .tok.fourd-fourd_command {
  color: #068C00;
  font-weight: bold;
}

.fourd-code .tok.fourd-fourd_keyword {
  color: #034D00;
  font-weight: bold;
}

.fourd-code .tok.fourd-fourd_constant {
  color: #4D004D;
  text-decoration: underline;
}
