/* Will be compiled down to a single stylesheet with your sass files */
#nav-wrapper {
  position:fixed;
  top: 20px;
  left: 0;
  right: 0;
  text-align: center;
}

#nav-wrapper > .navbar {
  display: inline-block;
  float: none !important;
  margin-left: 0 !important;
}

body {
  padding-top: 80px;
}
