/* Will be compiled down to a single stylesheet with your sass files */
#nav-wrapper {
  position:fixed;
  top: 20px;
  left: 0;
  right: 0;
  text-align: center;
}

#nav-wrapper > .navbar {
  display: inline-block;
  float: none !important;
  margin-left: 0 !important;
}

#nav-wrapper > .navbar a {
  cursor: pointer;
}

body {
  padding-top: 80px;
}

/* */
.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.zebra-wells > div:nth-child(odd) .well {
  background-color: #fff !important;
  border-color: #eee !important;
}

.zebra-wells > div {
  padding-top: 80px;
}
