<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="styles/afca4b47.main.css">
  </head>
  <body ng-app="4dmonLexerApp">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="components/es5-shim/es5-shim.js"></script>
      <script src="components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <div id="nav-wrapper">
      <div class="navbar span12">
        <div class="navbar-inner">
          <a class="brand" href="#">4Dmon Lexer</a>
          <ul class="nav">
            <li ng-class="{'active': loc == ''}"><a ng-click="loc=''" scroll-to="">About</a></li>
            <li ng-class="{'active': loc == 'd'}"><a ng-click="loc='d'" scroll-to="demo">Demo</a></li>
            <li ng-class="{'active': loc == 'u'}"><a ng-click="loc='u'" scroll-to="usage">Usage</a></li>
            <li ng-class="{'active': loc == 'c'}"><a ng-click="loc='c'" scroll-to="contributing">Contributing</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Add your site or application content here -->
    <div class="container">
      <div ng-view=""></div>
      <hr>
      <div class="row-fluid">
        <div class="span12">
          <p class="span6"><small>Licensed under <a href="https://github.com/jrussell-ivantage/4dmon-lexer/blob/master/LICENSE-MIT">The MIT License</a>.</small></p>
          <p class="span6 text-right"><small><a href="#">Back to top</a></small></p>
        </div>
      </div>
    </div>

    <script src="components/angular/angular.js"></script>
    <script src="components/ngScrollTo/ng-scrollto.js"></script>
    <script src="components/4dmon-lexer/lib/4dmon-lexer.js"></script>

    <script src="scripts/51de1d43.scripts.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      //var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      //(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      //g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      //s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
