<div class="hero-unit">
  <h1>4dmon Lexer</h1>
  <p>For your <a href="http://www.4d.com">4D</a> code parsing needs. What will we use 4dmon Lexer for?</p>
  <ul>
    <li ng-repeat="feature in features">{{feature}}</li>
  </ul>
</div>

<div id="demo" class="zebra-wells">
  <div class="row-fluid">
    <div class="span12 well">
      <div ng-include="'views/partials/demo.html'"></div>
    </div>
  </div>

  <div id="usage" class="row-fluid">
    <div class="span12 well">
      <div ng-include="'views/partials/usage.html'"></div>
    </div>
  </div>

  <div id="contributing" class="row-fluid">
    <div class="span12 well">
      <div ng-include="'views/partials/contributing.html'"></div>
    </div>
  </div>
</div>
